[Desktop Entry]
Comment=
Exec=firefox https://mail.google.com/
Icon=gmail-desktop
Name=Gmail
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
