[Desktop Entry]
Comment=
Exec=firefox https://calendar.google.com/
Icon=google-agenda
Name=Google Calendar
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
