[Desktop Entry]
Comment=
Exec=firefox https://deck.new
Icon=google-slides
Name=Google Slides
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
