[Desktop Entry]
Comment=
Exec=firefox https://doc.new
Icon=google-docs
Name=Google Docs
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
