[Desktop Entry]
Comment=
Exec=firefox https://sheets.new
Icon=sheets
Name=Google Sheets
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
